#errorCatcher Echo
#encoding UTF-8
#set global $page = "impressum"

    #include "header.html.tmpl"

    <div class="site-inner">
        <main class="content">	
            <article class="weewx impressum" itemscope itemtype="https://schema.org/CreativeWork">
                
                    #include "page-header.inc"

                    #if os.path.exists("impressum.inc")
                    #include "impressum.inc"
                    #else
                    #include "impressum.inc.example"
                    #end if
                
            </article>
        </main>
    </div>


    #include "footer.html.tmpl"
