#errorCatcher Echo
#encoding UTF-8
#set global $page = "datenschutz"

    #include "header.html.tmpl"

    <div class="site-inner">
        <main class="content">	
            <article class="weewx datenschutz" itemscope itemtype="https://schema.org/CreativeWork">
                
                    #include "page-header.inc"

                    #if os.path.exists("datenschutz.inc")
                    #include "datenschutz.inc"
                    #else
                    #include "datenschutz.inc.example"
                    #end if
                
            </article>
        </main>
    </div>


    #include "footer.html.tmpl"
